@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Monda);

section#corpo{
	display: block;
	margin-top: 10px;
	width: 100%;
	background-color: white;

}

section#corpo p{
	padding: 10px;
	font-family: 'Monda', sans-serif;
}

section#corpo h2{
	font-size: 20pt;
	text-align: center;
}

section#corpo h3{
	font-family: 'Monda', sans-serif;
	color: #646464;
	text-align: center;
}

div#afastamento{
	height: 90px;
}

section#corpo div#mapa{
	width: 100%;
	height: 360px;
}

section#corpo div#endfor{
	width: 100%;
	height: 410px;
}

section#corpo div#endfor div#end{
	position: relative;
	float: left;
	width: 30%;
}

section#corpo div#endfor div#for{
	position: relative;
	float: left;
	width: 69%;
}

div#for .form{
	padding: 4px;
	margin: 0;
	margin-left: 195px;
	font-family: 'Monda', sans-serif;
}

div#for .form input{
	font-family: 'Monda', sans-serif;
}

p#sinform{
	border: 1px solid #646464;
	padding-bottom: 2px;
	width: 425px;
	margin-left: 278px;
}

div#for h3#sinh3{
	margin-left: 150px;
}

div#for input#cEnviar{
	width: 60px;
	height: 30px;
	margin-left: 478px;
}

section#corpo p#en{
	text-indent: 0;
	margin-left: 50px;
}