@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Monda);


section#corpo{
	display: block;
	margin-top: 10px;
	width: 100%;
	background-color: white;
}

section#corpo p{
	padding: 10px;
}

section#corpo h2{
	font-size: 20pt;
	text-align: center;
}

div#afastamento{
	height: 90px;
}

section#corpo h3{
	width: 20%;
	margin-left: 40px;
	padding-left: 20px;
	font-family: 'Monda',sans-serif;
	letter-spacing: 4px;
	color: #646464;
	border-bottom: 1px solid black;
}

section#corpo .left{
	width: 60%;
	float: left;
}

section#corpo .right{
	width: 35%;
	float: left;
}

section#corpo figure figcaption{
	font-family: 'Monda', sans-serif;
	color: white;
	position: relative;
	display: block;
	width: 124%;
	height: 5%;
	background-color: rgba(0,0,0,.3);
	padding: 4px;
	margin-top: -37px;
}

section#corpo h3#grande{
	width: 50%;
}

